<main class="main">
    <header class="header">
        <nav class="header__navegation">
            <div class="header__logo">
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="header__sections">
                <a href="">Account {{user.username}}<i class="far fa-user"></i></a>
                <a href="" id="menu">Menu<i class="fas fa-bars"></i></a>
            </div>
        </nav>
    </header>

    <section class="section">
        <div class="section__lateral">
            <div class="section__product">
                <i class="fab fa-500px"></i>
                <h2>Products</h2>
            </div>
            <i class="fas fa-ellipsis-v"></i>
        </div>

        <div class="section-main">
            <p>01</p>
            <h1>Everyw<span>Airpods</span></h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                recusandae ea libero unde quo? Tempore quaerat necessitatibus, cum
                nihil nulla impedit, tempora recusandae culpa sint dolorum
                blanditiis? Recusandae, minima fugiat.
            </p>
            <div class="section-main__contents">
                <a href="">Read more<i class="fas fa-arrow-right"></i></a>
                <h2>04/20</h2>
            </div>
        </div>

        <section class="section__menu-lateral">
            <a href="">Conoce mas<i class="fas fa-info"></i></a>
            <a href="/logout">Cerrar Sesión<i class="fas fa-sign-in-alt"></i></i></a>
        </section>
    </section>

    <footer class="footer">
        <nav class="footer__social-media">
            <a href="">in</a>
            <a href="">tw</a>
            <a href="">fb</a>
        </nav>

        <nav class="footer__links">
            <a href="">News</a>
            <a href="">Events</a>
            <a href="">Case Studies</a>
            <a href="">Contact</a>
        </nav>
    </footer>
</main>
<script src="js/app.js"></script>